@import "./variables";

.geolocation {
  background-color: $white;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 0 50px 120px;

  &__progress {
    position: absolute;
    top: 185px;
    height: 2px;
    width: 650px;
    background-color: $lightGray;
    &::before {
      content: "";
      background-color: $red;
    }
  }

  &__elements {
    z-index: 2;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    &-element {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 100px;
      padding: 13px;
      background-color: $white;
      outline: 2px solid $lightGray;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;
      &:first-child {
        margin-left: 0;
        padding: 13px 15px;
      }
      &:nth-child(2) {
        padding: 13px 15px;
      }

      &:hover {
        cursor: pointer;
      }

      &::before {
        content: "";
        background-color: $red;
      }
    }
  }

  // .geolocation__form

  &__form {
    display: flex;
    flex-direction: column;

    &-title {
      font-family: "Gabarito";
      font-style: normal;
      font-weight: 494;
      font-size: 50px;
      line-height: 56px;
      color: #051655;
    }

    &-subtitle {
      margin: 10px 0 40px;
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
    }

    // .geolocation__form-search

    &-search {
      position: relative;

      // .geolocation__form-input

      &-input {
        display: block;
        width: 460px;
        padding: 20px 0 20px 65px;
        border: 1px solid $lightGray;
      }

      // .geolocation__form-icon

      &-svg {
        position: absolute;
        top: 20px;
        left: 30px;
      }
    }
    // .geolocation__form-hubs
    &-hubs {
      margin: 40px 0 20px;
    }
    &-items {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 360px);

      &-item {
        background-color: $lightBlue;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        transition: all 0.4s ease-in-out;

        &:hover {
          cursor: pointer;
        }

        &-icon {
          padding: 10px;
          background-color: $white;
        }
        &-input {
          &:checked + &-item {
            background-color: #051655;
          }
        }
      }
    }
    // .geolocation__form-next

    &-next {
      border: none;
      background: $red;
      color: $white;
      width: 140px;
      height: 60px;
      text-align: center;
      margin-top: 82px;
    }
  }
}

.geolocation__form-items-item-input:checked ~ .geolocation__form-items-item {
  background-color: red;
}
