@import "./variables";

.objectives {
  // .objectives__form
  background-color: $white;
  padding: 40px 0 50px 120px;
  margin: 30px 0;

  &__form {
    // .objectives__form-elements

    &-elements {
      display: grid;
      grid-template-columns: repeat(3, 360px);
      gap: 20px;
      &-checkbox {
        background-color: $lightBlue;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px 20px;
        transition: all 0.4s ease-in-out;

        &-icon {
          padding: 10px;
          background-color: $white;
        }

        // .objectives__form-elements-checkbox-input

        &-input {
          display: none;
        }

        // .objectives__form-elements-checkbox-label

        &-label {
          background-color: $white;
          width: 30px;
          height: 30px;
          margin-left: auto;
          &:hover {
            cursor: pointer;
          }
        }

        .objectives__form-elements-checkbox-input:checked
          + .objectives__form-elements-checkbox-label::before {
        }
      }
    }
    // .objectives__back

    &__back {
    }

    // .objectives__next

    &__next {
    }
  }
}
