@import "./variables";

.profile {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  padding-bottom: 80px;
  height: 360px;

  @media (max-width: 768px) {
    column-gap: 25px;
    height: 320px;
  }

  @media (max-width: 500px) {
    column-gap: 15px;
    height: 280px;
  }

  &__header {
    font-size: 25px;
    line-height: 27px;
    margin: 0 0 24px;
    font-weight: normal;
    color: $blue;
  }

  &__avatar {
    max-width: 360px;
    width: 100%;
    background-color: $lightBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed $blue;
  }

  &__data {
    max-width: 720px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin: 0;
    margin-top: 30px;
    color: $blue;
    font-size: 20px;
    line-height: 22px;
    @media (max-width: 768px) {
      font-size: 17px;
      line-height: 20px;
    }

    @media (max-width: 468px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__label {
    position: relative;
  }

  // .profile__icon

  &__icon {
    position: absolute;
    top: 20px;
    left: 30px;
  }

  // .profile__input

  &__input {
    width: 100%;
    padding: 20px 0 20px 65px;
    border: 1px solid $lightGray;
    margin-bottom: 10px;

    :last-child {
      margin-bottom: 0;
    }

    @media (max-width: 500px) {
      padding-left: 53px;
    }

    &::placeholder {
      font-size: 18px;
      line-height: 19px;
      color: $lightGray;

      @media (max-width: 500px) {
        font-size: 13px;
      }
    }
  }
}
