@import "./variables";

.steps {
  display: none;
  // .steps__form
  background-color: white;
  padding: 20px 10px 50px 120px;

  @media (max-width: 888px) {
    padding-left: 80px;
  }

  @media (max-width: 778px) {
    padding-left: 50px;
  }

  @media (max-width: 430px) {
    padding-left: 10px;
  }
  // .steps__images

  &__images {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 60px;
    max-width: 690px;
    width: 100%;
  }

  // .steps__progress

  &__progress {
    position: absolute;
    top: 50%;
    height: 2px;
    max-width: 650px;
    width: 100%;
    background-color: $lightGray;

    @media (max-width: 745px) {
      width: 100%;
    }
  }

  // .steps__sucsess

  &__sucsess {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: $red;
    transition: all 1s ease;
  }

  // .steps__image

  &__image {
    border: 2px solid $lightGray;
    border-radius: 50%;
    display: flex;
    padding: 13px;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: $white;
    transition: all 0.8s ease;

    @media (max-width: 545px) {
      padding: 8px;
    }

    @media (max-width: 405px) {
      padding: 6px;
    }
    &:last-child {
      margin-right: 0;
    }

    &.active-image {
      background-color: $red;
      border-color: transparent;
      svg {
        path {
          fill: $white;
        }
      }
    }
  }

  .back {
    background-color: $white;
    color: $blue;
    border: 1px solid $lightGray;

    &:hover {
      background-color: darken($color: $white, $amount: 15);
    }
  }
}
